/* this is like the index page css file but without animaation.
an admin can not register and they must be in the system in advance that is why
they do not have register therefor we dont need the registeration form */ 

*{
    margin : 0;
    padding: 0;
    font-family: sans-serif;

}


.wrapper
{
    height: 100%;
    width: 100%;
    background: white;
    /* */  
}

.Head-part ul
{
    float: right;
    display: inline-flex;
    margin: 50px;
    text-decoration: none;
}

.Head-part{
    position:fixed;
    width: 100%;
    height: 130px;
    border-bottom: 1px dotted gainsboro;
}

.Head-part ul li
{
    list-style:none;
    margin: 20px;
    color: darkblue;
    cursor: pointer;
    text-decoration: none;
}
.Head-part ul li a
{
    list-style:none;
    text-decoration: none;
}

.admin{
    border: 1px dotted darkseagreen;
    float: right;
    margin:60px 80px 60px 60px;
    text-decoration: none;

}
.admin a{
    text-decoration: none;
    display: block;
    background-color: black;

}
.admin a:link, nav a:active, nav a:visited
{
    display: block;
    color: darkslateblue;
    text-decoration: none;
}
img
{
    width: 70px;
    margin: 10px;
    padding: 20px 10px;
    float: left;
}
.logo{
    width: 70px;
    margin: 10px;
    padding: 20px 10px;
    float: right;
}
.active
{

    border: 1px solid burlywood;
}
a:active {
    color: red;
}

.content
{
    width: 90%;
    height: 50%;
    top: 15%;
    left: 130px;
    position: absolute;  
}

.content:after
{
    display:table;
    content:"";
    clear:both;
}

.right-side
{
    width: 50%;
    height: 100%;
    float: right;
    align-items: center;
    display:inline-block;

}

.left-side
{
    width: 50%;
    float: left;
    text-align: center;
}


.education-img
{
    width: 70%;
    height: 110%;
    margin-top: 10px;
    margin: 6% auto;
    transform: translate(10%, 0);
    border: 1px dotted gainsboro;
}
.form-box
{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
    background-color: transparent;
    border: 1px dotted gainsboro;
    text-align: center;
    top: 10%;
    left: 25%;
    right: 25%;
    bottom: 25%;

    transform: translate(-50%, 0);
}

.LogReg-box
{
    width: 220px;
    margin: 30px auto auto 70px;
    position: relative;
    box-shadow: 0 0 20px 9px #7D53E4;
    border-radius: 10px;
    background:linear-gradient(to right,#013DC2,#6B0A91);
}

.toggle-btn
{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #eee;
    font-weight: bold;
}

#button
{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#6B0A91,#013DC2);
    border-radius: 10px;
    transition: 0.5s;
}

.Social-Media
{
    margin:  30px auto;
    text-align: center;
}

.Social-Media img
{
    width: 50px;
    height: 30px;
    margin: 0 12px 0 32px;
    box-shadow: 0 0 20px 0 #7D53E4;
    cursor: pointer;
    border-radius: 50%;
}
.inputs
{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
    color: darkslateblue;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-field
{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    border-right: 0;
    outline: none;
    background: transparent;
    color: darkslateblue;
    font-weight: bold;

}

.submit-button
{
    width: 230px;
    padding: 10px 30px;
    margin-top: 50px;
    margin-left: 20px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right,#013DC2,#6B0A91);
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #eee;
    font-weight: bold;
}



.span
{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#Login
{
    left: 50px;
}






.brand
{
    font-size: 2rem;
    font-weight: 300;
    margin-left: 20px;
}
.ted
{
    color : crimson;
}



.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:gainsboro;
    text-align: center;
    padding: auto;
    margin:auto
}
/* it only changes if the screen get smaller than 900px */ 

@media screen and (max-width: 900px) {
    .left-side,.right-side {
        width: 100%;
        height: 100%;
    }
    nav ul li
    {
        list-style: none;
        font-size: 15px;
    }
    a{
        font-size: 10px;
    }
    .logo{
        display: none;
    }
    .education-img{
        display: none;
    }  

    .right-side{
        width: 100%;
        position: relative;
        float: left;
    }
    .left-side{
        width: 0%;
    }
    .content{
        width: 80%;
    }

}


