@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to left,#3D60FF,#080A8C);
}


li, a, button
{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10%;
    background-image: linear-gradient(to left,#3D60FF,#080A8C);
}

.textlogo
{
    margin-right: auto;
    align-content: left;
    margin-left: 0;
    cursor: pointer;
    
}

.logo
{
    margin-right: auto;
    width: 100px;
    cursor: pointer;
    
}

nav
{
    position: fixed;
    width: 100%;
    line-height: 30px;
}

nav ul
{
    float: right;
    margin: 0;
    padding-right: 42px;
    align-items: center;
}

nav ul li
{
    display: inline-block;
    padding: 16px 32px;
    
}
.nav-links
{
    list-style: none;
}

.nav-links li
{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a
{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover
{
    color: #0088a9;
}

button
{
    margin-left: 30px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:  all 0.3s ease 0s;;
}

button:hover
{
    background-color: rgba(0,136,169,0.8);
}


.edu-image-right
{
    margin-right: auto;
    width: 100%;
        background-color: gray;
       
        height: 100vh;

}

.text-left
{
    width: 100%;
    background-color: yellow;
    height: 100vh;  
}
img
{
  width: 700px;  
}
.coding-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

@media screen and (min-width:768px)
{
    .text-left ,.edu-image-right
    {
        height: 100vh;
    }
}