body
{
font-family: arial;
font-size: 15px;
line-height: 1.6em;
}

li
{
    list-style: none;
}

a{
    text-decoration: none;
}

.container
{
    width: 60%;
    margin: 0 auto;
    overflow: auto;
}

header
{
    border-bottom: 3px #f4f4f4 solid;
}

footer
{
    border-top: 3px #f4f4f4 solid;
    text-align: center;
    padding-top: 10px;
}

main
{
    padding-bottom: 20px;
}
.current
{
    padding: 10px;
    background: #f4f4f4;
    border: #ccc dotted 1px;
    margin: 20px 0 10px 0;
}

a.Link_button
{
    display: inline-block;
    color: #666;
    border: 1px dotted #ccc;
    padding: 6px 13px;
}

label
{
    display: inline-block;
    width: 200px;
}

input[type='text']
{
    width: 97%;
    padding: 4px;
    border: 1px #ccc solid;
    border-radius: 5px;
    
}

input[type='number']
{
    width: 50px;
    padding: 4px;
    border: 1px #ccc solid;
    border-radius: 5px;
    
}

@media only screen and (max-width:960)
{
    .container{
        width: 80%;
    }
}